[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}



/* small device */
@media (min-width: 576px) {

    .col-sm-1 {
        width: 8.33%
    }

    .col-sm-2 {
        width: 16.66%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-4 {
        width: 33.33%
    }

    .col-sm-5 {
        width: 41.66%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-7 {
        width: 58.33%
    }

    .col-sm-8 {
        width: 66.66%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-10 {
        width: 83.33%
    }

    .col-sm-11 {
        width: 91.66%
    }

    .col-sm-12 {
        width: 100%
    }

}

@media (min-width: 768px) {

    .col-md-1 {
        width: 8.33%
    }

    .col-md-2 {
        width: 16.66%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-4 {
        width: 33.33%
    }

    .col-md-5 {
        width: 41.66%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-7 {
        width: 58.33%
    }

    .col-md-8 {
        width: 66.66%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-10 {
        width: 83.33%
    }

    .col-md-11 {
        width: 91.66%
    }

    .col-md-12 {
        width: 100%
    }

}

@media (min-width: 992px) {


    .container .riptys-logo {
        width: 100%;
        height: 80%;



    }


    .logo-div {
        /* text-align: left; */
        display: flex;
        align-items: center;
       



    }

    .logo-div h1 {
        font-size: 2.5rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
            white-space: nowrap;
           
        




    }


    nav ul {
        display: flex;
        justify-content: flex-end;
        /* right-align */
        gap: 20px;
        /* spacing */
    }

    nav ul li {
        display: inline-block;
    }

    nav ul li a {
        display: inline-block;
        transition: 0.4s;
    }

    nav ul li a:hover {

        transform: scale(1.2);

    }

    /* bannner start */


    #banner-section {
        position: relative;
        height: 100vh;

    }

    .banner-contents {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }


    .banner-contents h1 {
        width: 700px;
        font-size: 3.5rem;
    }

    .banner-contents p {
        width: 400px;
        font-size: 2.5rem;
    }


    /* bannner end */



    /* footer start */


    footer p {
        text-align: left;


    }

    .social-menus {
        text-align: right;
    }





    /* footer  end */






    .col-lg-1 {
        width: 8.33%
    }

    .col-lg-2 {
        width: 16.66%
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-4 {
        width: 33.33%
    }

    .col-lg-5 {
        width: 41.66%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-7 {
        width: 58.33%
    }

    .col-lg-8 {
        width: 66.66%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-10 {
        width: 83.33%
    }

    .col-lg-11 {
        width: 91.66%
    }

    .col-lg-12 {
        width: 100%
    }

}

html {
    scroll-behavior: smooth;


}



.riptys-logo {
    width: 40%;
    height: 40%;
    padding: 2px;
    text-align: center;
    border-radius: 100%;
    border: 4px solid black;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 100%;
}


.row {
    width: 100%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}



/* header design*/

header {
    background-color: skyblue;
    color: white;
    padding: 0 1%;
    text-align: center;
    padding: 5px 0;

}

header i {

    color: black;

}


.logo {
    width: 70px;
    height: 65px;
    padding: 5px;
    text-align: center;
    border-radius: 40%;
    border: 2px solid white;

}

.row h1 {
    padding: 5px 10px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

nav ul li {
    display: block;
}

nav ul li a {


    display: block;
    text-decoration: none;
    color: black;
    line-height: 70px;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s;
}

nav ul li a:hover {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: gold;
    transform: translateY(5px);
    padding-left: 45px;



}



#banner-section {
    background-image: url("burger.avif");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;





}

.banner-contents {
    padding: 50px 10px;
    text-align: center;
}

.banner-contents h1 {

    width: 100%;
    margin: 15px auto;
    font-size: 3rem;
    background: rgba(255, 255, 0, 0.884);
    padding: 10px;

}

.banner-contents p {


    width: 300px;
    margin: 15px auto;
    background: rgba(0, 128, 0);
    color: white;
    padding: 10px;
    font-size: 1.3rem;
}

.btn {
    width: 150px;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.4s;


}

.btn:hover {
    background-color: black;
    color: white;
    transform: translateY(5px);
    padding-left: 4px;
    transform: scale(1.1);
}

/* banner end */

#about-us {
    padding: 40px;
    text-align: center;
}

#about-us h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

/* food menu */

#menu-section {
    padding: 30px;
}

.card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
    background: white;
}

.card:hover {
    transform: scale(1.2);

    /* border: 0px solid black; */

}

.card-body img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.item-name {
    background: green;
    color: white;
    padding: 10px;
    text-align: center;


}

.item-desc {
    background: #eee;
}

.item-desc p {
    padding: 10px;
    font-weight: bold;
    text-align: center;


}

/* footer */








/* food menu end */



/* Contact Start */


#contact {
    padding: 1%;
    background-color: #595b83;
}

.contact-details {
    color: white;
    text-align: center;
    padding: 20px 0;
}

.map {
    width: 100%;
    height: 250px;

}

.contact-details p {
    font-size: 0.8rem;

}





/* Contact End */



/* footer start */





footer {
    background-color: #060930;
    color: white;
    text-align: center;
    padding: 1% 0;
}

footer p {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon-style {
    color: white;
    text-align: center;
    width: 32px;

    line-height: 32px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 10px;
    padding: 7px;
    transition: 0.4s;
    text-align: center;


}

.icon-style:hover {
    background-color: white;
    color: black;
    transform: scale(1.5);
    border: 1px solid black;
}